<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>cs3520.a3.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteDB</servlet-name>
        <servlet-class>cs3520.a3.servlet.deleteDB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editDB</servlet-name>
        <servlet-class>cs3520.a3.servlet.editDB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>signUp</servlet-name>
        <servlet-class>cs3520.a3.servlet.signUp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteUser</servlet-name>
        <servlet-class>cs3520.a3.servlet.deleteUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>makeAdmin</servlet-name>
        <servlet-class>cs3520.a3.servlet.makeAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changeFName</servlet-name>
        <servlet-class>cs3520.a3.servlet.changeFName</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changeLName</servlet-name>
        <servlet-class>cs3520.a3.servlet.changeLName</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changePW</servlet-name>
        <servlet-class>cs3520.a3.servlet.changePW</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changeGoal</servlet-name>
        <servlet-class>cs3520.a3.servlet.changeGoal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addMeal</servlet-name>
        <servlet-class>cs3520.a3.servlet.addMeal</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteDB</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editDB</servlet-name>
        <url-pattern>/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signUp</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteUser</servlet-name>
        <url-pattern>/deleteUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>makeAdmin</servlet-name>
        <url-pattern>/makeAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changeFName</servlet-name>
        <url-pattern>/changeFName</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changeLName</servlet-name>
        <url-pattern>/changeLName</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changePW</servlet-name>
        <url-pattern>/changePW</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changeGoal</servlet-name>
        <url-pattern>/changeGoal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addMeal</servlet-name>
        <url-pattern>/daily</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
